---
import type { WPACFFbHeroHomepage } from '../../types/wp';
import AnimatedHeartSVG from '../AnimatedHeartSVG.astro';

interface Props extends WPACFFbHeroHomepage {}

const { heading, highlight, subtitle, ctaText, ctaUrl, cta2Text, cta2Url, images = [], showHeartAnimation = true } = Astro.props;
---

<section class="relative w-fullhero bg-gradient-to-br from-beige to-creme py-12 md:py-12 overflow-hidden">
  {showHeartAnimation && (
    <div class="absolute bottom-8 left-0 w-full max-w-4xl pointer-events-none">
      <AnimatedHeartSVG />
    </div>
  )}
  <div class="h-full px-4 relative z-10 max-w-screen-xl mx-auto">
    <div class="grid gap-8 md:grid-cols-2 md:gap-12">
      <div class="max-w-3xl pt-20">
        {heading && (
          <h1 class="text-3xl md:text-4xl font-bold mb-6 text-taupe/70 font-heading tracking-tight leading-none">
            {highlight ? (
              <>
                <span class="text-taupe">{heading}</span> {highlight}
              </>
            ) : (
              heading
            )}
          </h1>
        )}
        {subtitle && (
          <p class="text-lg md:text-xl mb-8 text-mousse">{subtitle}</p>
        )}
        <div class="flex flex-wrap gap-4">
          {ctaText && ctaUrl && (
            <a href={ctaUrl} class="inline-flex items-center justify-center px-5 py-3 text-sm font-semibold text-center text-taupe rounded-lg border border-taupe/20 hover:bg-beige transition-colors focus:ring-4 focus:ring-taupe/10">{ctaText}</a>
          )}
          {cta2Text && cta2Url && (
            <a href={cta2Url} class="inline-block bg-sauge text-creme px-5 py-3 rounded-lg text-sm font-semibold hover:bg-taupe transition-colors">{cta2Text}</a>
          )}
        </div>
      </div>
      {images.length > 0 && (
        <div class="columns-2 gap-3 space-y-3 content-end">
          {images.map((img) => (
            <img
              src={img.sourceUrl}
              alt={img.altText || ''}
              width={img.mediaDetails?.width}
              height={img.mediaDetails?.height}
              class="rounded-2xl shadow-lg w-full object-contain"
            />
          ))}
        </div>
      )}
    </div>
  </div>
</section>
